/*
  Base
  ========================================================================== */

* { @include box-sizing(border-box); }

html {
  font-size:100%;
}

body {
  line-height: 1;
  color: $body-font-color;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

// No need to set common margin, because there're too many disparate styles
p {
  //margin: 0.5em 0;
  margin: 0;
  line-height: $base-line-height;
}

h1, h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}
// .alpha {
//   line-height: $alpha-line-height;
//   font-family: $alpha-font-family;
//   font-weight: $alpha-font-weight;
// }