/*
  Base
  ========================================================================== */

* { @include box-sizing(border-box); }

html {
  font-size:100%;
}

body {
  line-height: 1;
  font: {
    family: $body-font-family;
    weight: $body-font-weight;
  };
  color: $body-font-color;
}

a {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

p {
  margin: 0.5em 0;
  line-height: $base-line-height;
}


// .alpha {
//   line-height: $alpha-line-height;
//   font-family: $alpha-font-family;
//   font-weight: $alpha-font-weight;
// }