/*
  Beatles
  ========================================================================== */


.beatles {
  position: relative;
  clear: both;
  margin-bottom: 2em;
  background: $beatles-color;
  font-size: .5em;
  color: #fff;
}
  .beatles__title {
    @extend .oswald;

    position: relative;
    margin: 0;
    padding: .7em 0;
    background: $beatles-heading-color;
    box-shadow: 0 6px rgba(0,0,0, .2);
    font-size: em(49);
    text: {
      transform: uppercase;
      align: center;
    };
  }
  .beatles__body {
    @extend .merriweather;

    padding: .8em 1em 1.2em;
    font-size: em(26);
  }
    .beatles__cite {
      display: block;
      margin-top: 1.2em;
      font-size: 0.6923076923em;
      color: rgba(255,255,255,.5);
    }


  .beatles__road {
    position: relative;
    overflow: hidden;
  }
    .beatles__front,
    .beatles__wrap {
      @include transition-property (transform);
      @include transition-duration($beatles-transition-time);
      @include transition-timing-function(ease-in-out);
    }

    .beatles__front {
      @include transform(rotateZ(-45deg) translate(-18.3%, -28.1%) scale(2));

      position: relative;
      z-index: 20;
      overflow: hidden;
    }

      .beatles__wrap {
        @include transform(rotateZ(45deg) translate(13%, 0) scale(0.5));


        position: relative;                 // CSS4 Proposed
        // -ms-interpolation-mode:nearest-neighbor;
        // image-rendering:optimizeSpeed;             // Legal fallback
        // image-rendering:-moz-crisp-edges;          // Firefox
        // image-rendering:-o-crisp-edges;            // Opera
        // image-rendering:-webkit-optimize-contrast; // Safari
        // image-rendering:optimize-contrast;         // CSS3 Proposed
        // image-rendering:crisp-edges;               // CSS4 Proposed
        // image-rendering:pixelated;   // IE8+
      }
        .beatles__img {
          display: block;
          box-shadow: 0 0 0 2px $beatles-color; // hack to hide leaking map
        }

        .beatles__curl {
          @include transition(width $beatles-transition-time ease-in-out, height $beatles-transition-time ease-in-out);

          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 40;
          width: 15.65%; // 150px
          height: 23.81%;
          background: #ffffff;
          background: -webkit-linear-gradient( 135deg, #fff, #f3f3f3 45%, #ddd 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100% );
          background: -moz-linear-gradient( 135deg, #fff, #f3f3f3 45%, #ddd 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100% );
          background: linear-gradient( 135deg, #fff, #f3f3f3 45%, #ddd 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100% );
        }


    .beatles__back,
    .beatles__map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
    }



  // Hover state

  .beatles__road--closed:hover,
  .beatles__road--closed:focus {
    .beatles__front {
      @include transform(rotateZ(-45deg) translate(-22.2%, -39.5%) scale(2));
    }
      .beatles__wrap {
        @include transform(rotateZ(45deg) translate(17%, 2%) scale(0.5));
      }
        .beatles__curl {
          width: 26.049%; // 250px
          height: 39.8%;
        }
  }
  .beatles__road--hidden {
    .beatles__front {
      z-index: -1;
    }
  }



  // Opened state

  .beatles__road--opened {
    .beatles__front {
      @include transform(rotateZ(-45deg) translate(-45.8%, -180.3%) scale(2));
    }
      .beatles__wrap {
        @include transform(rotateZ(45deg) translate(57%, 39%) scale(0.5));
      }
        .beatles__img {

        }
        .beatles__curl {
          width: 104.2%; // 250px
          height: 161.2%;
        }
  }




  // clip-path clip


  // .beatles__road {
  //   position: relative;

  //   &:hover, &:focus {
  //     .beatles__road__front {
  //       @include clip-path(polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%), '#beatles_mask_hover');
  //     }
  //   }
  // }
  //   .beatles__road__front {

  //     position: relative;
  //     z-index: 20;
  //     @include transition(all 1s);

  //     // border-corner-shape is needed here!
  //     @include clip-path(polygon(0 0, 100% 0, 100% 87%, 87% 100%, 0 100%), '#beatles_mask');
  //   }
  //     .beatles__road__img {
  //       display: block;
  //     }


@media #{$bp-s} {
  .beatles {
    font-size: .8em;
  }

  .beatles__heads {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
  }
    .beatles__heads__1,
    .beatles__heads__2,
    .beatles__heads__3,
    .beatles__heads__4 {
      display: inline-block;
      width: $beatles-heads-width;
      height: $beatles-heads-height;
      background-image: url(../images/heads.jpg);
      background-repeat: no-repeat;
    }

    .beatles__heads__1 {
      background-position: 0 0;
    }
    .beatles__heads__2 {
      background-position: -169px 0;
    }
    .beatles__heads__3 {
      display: none;
      background-position: -358px 0;
    }
    .beatles__heads__4 {
      display: none;
      background-position: -547px 0;
    }

}

@media #{$bp-m} {
  .beatles {
    font-size: 1em;
  }
    .beatles__heads__3 {
      display: inline-block;
    }
}

@media #{$bp-l} {
  .beatles__heads__4 {
    display: inline-block;
  }
}