/*
  Beatles
  ========================================================================== */


.beatles {
  clear: both;
  margin-bottom: 3em;
  background: $beatles-color;
  color: #fff;
}
  .beatles__title {
    position: relative;
    margin: 0;
    padding: .7em 0;
    background: $beatles-heading-color;
    box-shadow: 0 6px rgba(0,0,0, .2);
    text: {
      transform: uppercase;
      align: center;
    };
    font: {
      family: $heading-font-family;
      size: em(49);
      weight: normal;
    };
  }
  .beatles__body {
    padding: .8em 1em 1.2em;
    font: {
      family: $body-font-family;
      weight: $body-font-weight;
      size: em(26);
    };
  }
    .beatles__body__cite {
      display: block;
      margin-top: 1.2em;
      font-size: 0.6923076923em;
      color: rgba(255,255,255,.5);
    }


  .beatles__road {
    position: relative;
  }
    .beatles__road__front {
      position: relative;
      z-index: 20;
    }
      .beatles__road__img {
        display: block;
      }

  // transforms clip

  .beatles__road {
    position: relative;
    overflow: hidden;
    // width: 960px;
    // height: 629px;

    &:hover, &:focus {
      .beatles__road__front {
        @include transform(rotateZ(-45deg) translate(-22.19%, -39.5%) scale(2));
      }
      .beatles__road__img {
        @include transform(rotateZ(45deg) translate(17%, 2%) scale(0.5));
      }
    }
  }
    .beatles__road__front,
    .beatles__road__img {
      @include transition-property (transform);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in-out);
    }

    .beatles__road__front {
      @include transform(rotateZ(-45deg) translate(-21.2%, -32.3%) scale(2));

      position: relative;
      z-index: 20;
      overflow: hidden;
      //padding: 8.2% 32.2%;
      // width: 117.6%;
      // height: 164.4%;
      // width: 1129px;
      // height: 1036px;
      //box-shadow: 0 0 0 2px red;
      //@include transform(rotateZ(-45deg) translate(-21.2%, -32.3%) scale(1.5));
      //@include transform(rotateZ(-45deg) translate(-21.2%, -32.3%) scale(1.6));
    }

      .beatles__road__img {
        @include transform(rotateZ(45deg) translate(15%, 0) scale(0.5));
        //@include transform(rotate(45deg) translate(15%, 0) scale(0.75));
        //@include transform(rotate(45deg) translate(15%, 0) scale(0.625));

        position: relative;
        display: block;
        // image-rendering:optimizeSpeed;             // Legal fallback
        // image-rendering:-moz-crisp-edges;          // Firefox
        // image-rendering:-o-crisp-edges;            // Opera
        // image-rendering:-webkit-optimize-contrast; // Safari
        // image-rendering:optimize-contrast;         // CSS3 Proposed
        // image-rendering:crisp-edges;               // CSS4 Proposed
        // image-rendering:pixelated;                 // CSS4 Proposed
        // -ms-interpolation-mode:nearest-neighbor;   // IE8+
      }


  // clip-path clip


  // .beatles__road {
  //   position: relative;

  //   &:hover, &:focus {
  //     .beatles__road__front {
  //       @include clip-path(polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%), '#beatles_mask_hover');
  //     }
  //   }
  // }
  //   .beatles__road__front {
  //     @include transition(all 1s);

  //     position: relative;
  //     z-index: 20;

  //     // border-corner-shape is needed here!
  //     @include clip-path(polygon(0 0, 100% 0, 100% 87%, 87% 100%, 0 100%), '#beatles_mask');
  //   }
  //     .beatles__road__img {
  //       display: block;
  //     }

    .beatles__road__back,
    .beatles__road__map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }


// @include media(new-breakpoint(max-height 800px)){
//   .beatles {
//     font-size: .8em;
//   }
// }