/*
  Bluray
  ========================================================================== */

.bluray {
  @extend .oswald;

  position: relative;
  padding: 0 .75em 1.5em;
  background-color: $bluray-primary-color;
  text-transform: uppercase;
  color: #fff;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -14px;
    width: 28px;
    height: 14px;
    border-radius: 14px 14px 0 0;
    background: #fff;
  }
}

  .bluray__title {
    margin-bottom: em(15, $bluray-title-font-size);
    padding-bottom: em(18, $bluray-title-font-size);
    border-bottom: em(8, $bluray-title-font-size) solid $bluray-secondary-color;
    letter-spacing: .012em;
    font-size: em($bluray-title-font-size);
  }
    .bluray__title__cont {
      font-size: em(21, $bluray-title-font-size);
    }

  .bluray__desc {
    @extend .lora;

    text-transform: none;
    font: {
      size: em(16);
      style: italic;
    };
  }

  .bluray__rating {
    margin: 1em -.75em;
    padding: 1em .75em;
    border-top: em(2) dashed $bluray-border-color;
    border-bottom: em(2) dashed $bluray-border-color;
    box-shadow:
      inset 0 em(5) 0 rgba(0,0,0,.1),
      inset 0 em(-5) 0 rgba(0,0,0,.1);
    color: rgba(255,255,255,.3);
  }
    .bluray__rating__title {
      display: inline-block;
      line-height: 1.1;
      width: em(91, 14);
      //margin-right: em(5, 14);
      font-size: em(14);
    }
      .bluray__rating__title__cont {
        font-size: em(32, 14);
      }
    .bluray__rating__num {
      font-size: em(54);
      color: #fff;
    }

  .bluray__premier {

  }
    .bluray__premier__title {
      position: relative;
      //top: -.5em;
      margin-bottom: 0.5em;
      background: $bluray-secondary-color;
      text-align: center;
      font-size: em(14);
      color: rgba(255,255,255,.4);

      span {
        position: relative;
        z-index: $z-bluray-premier-title;
        padding: 0 .75em;
        background-color: $bluray-primary-color;
      }
    }

    .blueray__premier__body {
      line-height: em(33);
    }
    .bluray__premier__name {
      font-size: em(26);
    }
    .bluray__premier__place {
      font-size: em(28);
      color: rgba(255,255,255,.4);
    }
    .bluray__premier__timespan {
     font-size: em(39);
    }


@media #{$bp-m} {
  .bluray {
    float: right;
    //width: 23.125%;
    width: em($bluray-width);
  }
}