/*
  Boots
  ========================================================================== */

.boots {
  clear: both;
  padding: 0 1em;
  text-align: right;
}
  .boots__title {
    @extend .oswald;

    margin-bottom: .5em;
    text-transform: none;
    text-align: left;
    font-size: em(21);
    color: $boots-title-color;
  }
  .boots__body {
    @extend .lato;

    font-size: em(14);
    color: $boots-body-color;
  }
  .boots__img {
    margin-top: 1.2em;
  }


@media #{$bp-xs} {
  .boots__body {
    float: left;
    max-width: 60%;
  }
}


@media #{$bp-m} {
  .boots {
    float: left;
    width: 23%;
    margin-right: 2.5%;
    margin-bottom: -1em;
    padding-left: 2%;
    padding-right: 0;
    width: 14.58333%;
  }
    .boots__title {
      text-align: right;
    }
    .boots__body {
      float: none;
      max-width: none;
    }
    .boots__img {
      position: relative;
      z-index: $z-boots-img;
    }
}