/*
  Bullets
  ========================================================================== */

.bullets {
  clear: both;
  padding: 0 1em;
  margin: 2em 0;
}
  .bullets__title {
    padding: 1em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $bullets-border-color;
    text: {
      align: center;
      transform: uppercase;
    };
    font: {
      family: $heading-font-family;
      size: em(15);
      weight: 400;
    };
    color: #a97d35;
  }
    .bullets__title__subtitle {
      @extend .lato;

      display: block;
      margin-left: .5em;
      vertical-align: top;
      line-height: 1.1;
      font-size: em(12, 15);
      font-weight: 700;
      color: #e0c167;
    }


  .bullets__list {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
  }


    @include keyframes(fireBullet){
      20% {
        @include transform(translate(40%, -1000%));
        opacity: 0;
      }
      81% {
        @include transform(translate(80%, -40%));
        opacity: 0;
      }
      100% {
        @include transform(translate(40%, -40%));
        opacity: 1;
      }
    }


    .bullet {
      @extend .oswald;

      @include transition(color .5s ease-in-out .2s);

      position: relative;
      display: inline-block;
      vertical-align: bottom;
      // padding-top: 225px;
      margin-top: 1em;
      padding-left: 1%;
      width: 50%;
      height: 405px; // no need to tune on small bp
      border-left: 1px solid $bullets-border-color;
      line-height: 1.1;
      font-size: .8rem;
      color: $bullets-text-color;
      list-style-type: none;

      &:first-child {
        padding-left: 0;
        border-left: none;
      }

      &:hover,
      &:focus {
        color: darken($bullets-text-color, 50);

        .bullet__img {
          @include transform(scale(0.9) rotate(30deg) translate(-30%, -30%));
          @include backface-visibility(hidden);
        }
          .bullet__img__bullet {
            @include animation(fireBullet 1.5s ease);
            @include backface-visibility(hidden);
          }
      }
    }
      .bullet__desc {
        position: absolute;
        bottom: 0;
        left: 0;

        span {
          white-space: nowrap;
        }
      }
        .bullet__gr {
          text-transform: none;
        }

      .bullet__img {
        @include transition-property (transform);
        @include transition-duration(.8s);
        @include transition-delay(.3s);
        @include transition-timing-function(ease-in-out);

        position: absolute;
        left: 30%;
        //right: 0;
        bottom: 115px;
        z-index: 5;
      }
        .bullet__img__shell {
          position: relative;
          z-index: 6;
        }
        .bullet__img__bullet {
          // @include transition-property (transform);
          // @include transition-duration(.2s);
          // @include transition-delay(.9s); // duration of bullet_img transition
          // @include transition-timing-function(ease);
          @include transform(translate(40%, -40%));

          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }

    .bullet--remington,
    .bullet--winchester {
      .bullet__calibre {
        font-size: em(79);
      }
      .bullet__maker {
        font-size: em(28);
      }
      .bullet__type {
        font-size: em(32);
      }
    }

    .bullet--winchester {
      .bullet__img__bullet {
        // use top, instead of translate, it'd allow to apply singular translate in animation
        top: -25px;
      }
    }

    .bullet--russian {
      border-left-width: 0;

      .bullet__img__bullet {
        top: -20px;
        left: -4px;
      }
      .bullet__calibre {
        text-transform: none;
        font-size: em(31);
      }
      .bullet__maker {
        font-size: em(40);
      }
      .bullet__type {
        font-size: em(39);
      }
    }

    .bullet--thumper-220,
    .bullet--thumper-240 {
      .bullet__calibre {
        font-size: em(87);
      }
      .bullet__maker {
        font-size: em(38);
      }
    }

    .bullet--thumper-220 {
      .bullet__img__bullet {
        top: -16px;
        left: -8px;
      }
      .bullet__type {
        font-size: em(40);
      }
    }

    .bullet--thumper-240 {
      border-left-width: 0;

      .bullet__img__bullet {
        top: -7px;
        left: -7px;
      }
      .bullet__type {
        font-size: em(32);
      }
    }

@media #{$bp-xs} {
  .bullets__title__subtitle {
    display: inline;
  }

  .bullet {
    width: 33.3%;
    font-size: 1rem;
  }
    .bullet--russian,
    .bullet--thumper-240 {
      border-left-width: 1px;
    }
    .bullet--thumper-220 {
      border-left-width: 0;
    }
}


@media #{$bp-m} {
  .bullets {
    float: right;
    clear: none;
    margin-top: 0;
    padding: 0;
    width: 82.91667%; // from neat
  }
    .bullet {
      width: 20%;
      font-size: 0.8rem;
    }
      .bullet__img {
        // no need to drain phone's power;
        // consider performance carefully!
        -webkit-filter: drop-shadow(8px 8px rgba(0,0,0,.5));
      }

    .bullet--thumper-220 {
      border-left-width: 1px;
    }
}

@media #{$bp-l} {
  .bullet {
    font-size: 1rem;
  }
}