/*
  Featured
  ========================================================================== */


.featured {
  position: relative;
  //clear: left;

  //@include span-columns(6);
  //width: grid-width(6);
  margin-bottom: 4em;
  font-size: .75em;
}

  .featured__img {
    @include transform(rotate(-4deg) translateX(-17%));
    @include backface-visibility(hidden);

    position: relative;
    max-width: 760px;

    img {
      // compensate white space from translateX
      max-width: 118%;
    }
    &:after {
      @include transform(rotate(-3deg));

      content: "";
      position: absolute;
      top: 80%;
      z-index: -1;
      left: 10px;
      bottom: 15px;
      width: 50%;
      max-width:300px;
      //background: rgba(0,0,0,.6);

      box-shadow: 0 15px 10px rgba(0,0,0,.6);
      // box-shadow: 0 0 10px 10px hsla(0, 0%, 0%, .075),
      //              0 0 40px 20px hsla(0, 0%, 0%, .075),
      //              inset 0 0 50px 100px hsla(0, 0%, 0%, .15);
    }
  }
  .featured__body {
    position: relative;
    z-index: $z-featured-body;
    margin-top: -5.9em;
    font: {
      family: $body-font-family;
      weight: $body-font-weight;
      size: em(25);
    };
  }
    .featured__title {
      position: relative;
      margin-bottom: 0.25em;
      max-width: 8em;
      line-height: 1.1;
      text-transform: uppercase;
      text-shadow: 0px -15px 70px rgba(0,0,0,.7);
      font: {
        family: $heading-font-family;
        size: 2.5em;
        weight: normal;
      };
      color: $featured-title-color;
    }
    .featured__subtitle {
      text-transform: uppercase;
      font-size: .52em;
      font-weight: normal;
      color: $featured-subtitle-color;
    }


@media #{$bp-s} {
  .featured {
    float: right; // to let .barbie position on the left
    margin-top: 3.5%;
    margin-left: 2%;
    width: 51%;
    //font-size: .78em;

    &:hover .featured__img,
    &:focus .featured__img {
      -webkit-filter: grayscale(80%);
    }
  }
    .featured__img {
      @include transform(rotate(-4deg) translateX(-19%));

      -webkit-transition: -webkit-filter 1s;
    }
    .featured__body {
      max-width: 21em;
    }
}

@media #{$bp-m} {
  .featured {
    font-size: .86em;
  }
}

@media #{$bp-l} {
  .featured {
    margin-top: 3.1%;
    font-size: 1em;
  }
    .featured__body {
      margin-top: -5.8em;
    }
      .featured__title {
        font-size: 3em;
      }
}