/*
  Header
  ========================================================================== */

.site-header {
  background-color: $header-color;
  font-size: 5em;
  padding: 0.5rem;
}
  .site-title {
    line-height: $site-title-line-height;
    text-transform: uppercase;
    font: {
      family: $site-title-font-family;
      weight: $site-title-font-weight;
    };
    color: #fff;

    &:hover, &:focus { text-decoration: none; }
  }
    .site-title__shift {
      margin: 0 -.05em 0 -.11em;
    }



@include media($bp-s) {
  .site-header {
    float: left;
    //margin-left: 422px - $site-header-width;
    //padding-top: 2em;
    //width: $site-header-width; // 422px
    padding: 1.5rem 0 40rem;
    width: $site-header-width;
    font-size: 10em;
  }
    .site-title {
      position: relative;
      left: 0.18em;
      z-index: $z-site-title;
      float: right;
      text-align: right;
    }
}

@include media($bp-m) {
  .site-header {
    font-size: 12em;
  }
}


@include media($bp-l) {
  .site-header {
    font-size: 17.42em;
  }
}