/*
  Header
  ========================================================================== */


.site-header {
  background-color: $site-header-color;
  padding: 0.8em 0 2em;
  text-align: center;
}
  .site-title {
    @extend .lato;

    line-height: $site-title-line-height;
    text-transform: uppercase;
    font-size: em(70);
    font-weight: $site-title-font-weight;
    color: $site-title-color-small;

    &:hover, &:focus { text-decoration: none; }
  }
    .site-title__shift {
      margin: 0 -.05em 0 -.11em;
    }



@media #{$bp-s} {
  .site-header {
    position: relative;
    float: left;
    //margin-left: 422px - $site-header-width;
    //padding-top: 2em;
    //width: $site-header-width; // 422px
    padding-top: em(24);
    padding-bottom: 0;
    width: $site-header-width;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4.5em;
      background-color: $site-header-color;
    }
  }
    .site-title {
      position: relative;
      left: 0.18em;
      z-index: $z-site-title;
      float: right;
      text-align: right;
      font-size: em(160);
      color: $site-title-color;
    }
}

@media #{$bp-m} {
  .site-title {
    font-size: em(192);
  }
}


@media #{$bp-l} {
  .site-header:after {
    height: 3.52em;
  }
  .site-title {
    font-size: em(279);
  }
}