/*
  Header
  ========================================================================== */

.site-header {
  background-color: $header-color;
  font-size: $site-header-font-size - 8em;
}
  .site-title {
    line-height: $site-title-line-height;
    text-transform: uppercase;
    font: {
      family: $site-title-font-family;
      weight: $site-title-font-weight;
    };
    color: #fff;

    &:hover, &:focus { text-decoration: none; }
  }
    .site-title--shift {
      margin: 0 -.05em 0 -.11em;
    }



@include media($bp-s) {
  .site-header {
    float: left;
    //margin-left: 422px - $site-header-width;
    //padding-top: 2em;
    //width: $site-header-width; // 422px
    width: $site-header-width;
    font-size: $site-header-font-size - 6em;
  }
    .site-title {
      position: relative;
      left: .5em;
      z-index: $z-site-title;
    }
}

@include media($bp-m) {
  .site-header {
    font-size: $site-header-font-size - 4em;
  }
}

@include media($bp-l) {
  .site-header {
    font-size: $site-header-font-size - 2em;
  }
}

@include media($bp-xl) {
  .site-header {
    font-size: $site-header-font-size;
  }
}