/*
  Beatles
  ========================================================================== */

.immigration {
  padding: 0 1em;
  margin-bottom: 3em;
}
  .immigration__header {
    @extend .oswald;

    display: inline-block;
  }
    .immigration__title {
      margin-bottom: 0.256em;
      padding-bottom: 0.256em;
      border-bottom: 0.254em solid #000;
      text-transform: uppercase;
      font-size: em(50);
    }
     .immigration__subtitle {
      margin-bottom: 0.512em;
      padding-bottom: 0.487179em;
      border-bottom: 0.076923em solid #000;
      font-size: em(24);
     }

  .immigration__body {
    @extend .merriweather;
    font-size: em(14);
  }



@media #{$bp-s} {
  .immigration {
    float: left;
    margin-top: $beatles-heads-height;
    margin-right: em(-($bluray-width+0.1)); // fix for opera
    padding-right: 1.5em;
    width: 100%;
  }
    .immigration__inner {
      margin-right: em($bluray-width);
    }

    .immigration__title {
      font-size: em(68);
    }
    .immigration__subtitle {
      font-size: em(33);
    }
    .immigration__body {
      font-size: em(18);
    }
}

@media #{$bp-m} {
  .immigration__title {
    font-size: em(63);
  }
  .immigration__subtitle {
    font-size: em(30);
  }
}

@media #{$bp-l} {
  .immigration {
    font-size: 1em;
    padding-left: 0;
  }
    .immigration__title {
      font-size: em(82);
    }
    .immigration__subtitle {
      font-size: em(39);
    }
    .immigration__body {
      font-size: em(22);
    }
}