/*
  Overflow
  ========================================================================== */


.overflow {
  clear: both;
  overflow: hidden;
  margin: 0 auto 3em;
  padding: 0 1em;
  max-width: em(1063);
}

  .overflow__title {
    @extend .oswald;

    position: relative;
    margin-bottom: 0.5em;
    font-size: em(45);
    color: #a0b4c0;

  }

  .overflow__body {
    @extend .lora;

    margin: 0 auto;
    max-width: $max-width;

    position: relative;
    z-index: 2;
    font-style: italic;
    font-size: em(14);
    color: #5e6c74;

    p {
      margin-bottom: 1.5em;
    }

    p:first-child {
      float: right;
      max-width: 80%;
      text-align: right;
    }
    p:nth-child(2) {
      clear: right;
      max-width: 70%;
    }
    p:last-child {
      clear: left;
      float: right;
      max-width: 80%;
    }
  }

@media #{$bp-m} {
  .overflow {
    padding: 0;
  }
  .overflow__title {
    margin-bottom: em(20);
    font-size: em(82);

    span {
      display: block;
      @include transform(rotateZ(6deg) translate(51px, 67px));
    }

    &:after {
      content: "";
      position: absolute;
      top: -21px;
      left: -21px;
      z-index: 2;
      width: 100%;
      height: $overflow-water-height;
      background: url(../images/overflow.png) no-repeat top left;
    }
  }

  .overflow__body {
    font-size: em(16);

    p:first-child {
      @include transform(rotateZ(2.4deg));

      max-width: em(735);
    }
    p:nth-child(2) {
      @include transform(rotateZ(-1deg));

      margin-bottom: 2.2em;
      max-width: em(685);
    }
    p:last-child {
      @include transform(rotateZ(1deg));

      margin-left: em(128);
      max-width: em(740);
    }
  }
}