/*
  Settings
  ========================================================================== */

@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Basic

// Change the grid settings
$column: 58px; //90px;
$gutter: 24px; //30px;
$grid-columns: 12;
$max-width: em(960);


// Define your breakpoints
//$small: new-breakpoint(min-width 480px);
//$medium: new-breakpoint(min-width 768px);
//$large: new-breakpoint(min-width 1000px);

// $bp-xs: new-breakpoint(min-width 480px);
// $bp-s: new-breakpoint(min-width 640px);
// $bp-m: new-breakpoint(min-width 760px);
// $bp-l: new-breakpoint(min-width 1000px);
// $bp-xl: new-breakpoint(min-width 1280px);

$bp-xs: "only screen and (min-width: 480px)";
$bp-s: "only screen and (min-width: 640px)";
$bp-m: "only screen and (min-width: 760px)";
$bp-l: "only screen and (min-width: 1000px)";
$bp-xl: "only screen and (min-width: 1280px)";


$base-line-height: 1.3;



// Colors
$body-font-color: #000;
$header-color: #cdc9dd;
$charcoal-color: #464646;

$featured-title-color: #fdcd84;
$featured-subtitle-color: #cbb8a0;

$barbie-title-color: #5f5d66;
$barbie-body-color: #6e6c77;

$boots-title-color: #24795a;

$bullets-border-color: #e5e5e5;

$beatles-heading-color: #524741;
$beatles-color: #71625a;


// Typography
$body-font-family: 'Merriweather', serif;
$body-font-weight: 300;

// headings
$heading-font-family: 'Oswald', sans-serif;

// $alpha-line-height: $base-line-height;
// $alpha-font-family: $heading-font-family;
// $alpha-font-weight: normal;


$extra-font-family: 'Lato', sans-serif;
$extra2-font-family: 'Lora', serif;




// z-indexes
$z-site-title: 60;
$z-featured-body: 10;
$z-barbie: 80;
$z-barbie-back: 5;
$z-barbie-front: 2;
$z-barbie-front-closed: 7;


// Site header
$site-header-width: 585px;

$site-header-font-size: 17.42em;
//$site-header-width: 2.6em;
$site-header-width: 46%;

$site-title-font-family: $extra-font-family;
$site-title-font-weight: 300;
$site-title-line-height: .8;




// Featured

