/*
  Settings
  ========================================================================== */

@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Basic

// Change the grid settings
$column: 58px; //90px;
$gutter: 24px; //30px;
$grid-columns: 12;
$max-width: em(960);


// Define your breakpoints
//$small: new-breakpoint(min-width 480px);
//$medium: new-breakpoint(min-width 768px);
//$large: new-breakpoint(min-width 1000px);

// $bp-xs: new-breakpoint(min-width 480px);
// $bp-s: new-breakpoint(min-width 640px);
// $bp-m: new-breakpoint(min-width 760px);
// $bp-l: new-breakpoint(min-width 1000px);
// $bp-xl: new-breakpoint(min-width 1280px);

$bp-xs: "only screen and (min-width: 480px)";
$bp-s: "only screen and (min-width: 640px)";
$bp-m: "only screen and (min-width: 760px)";
$bp-l: "only screen and (min-width: 1000px)";
$bp-xl: "only screen and (min-width: 1280px)";


$base-line-height: 1.3;




/*
  Header
  ========================================================================== */

// Typography

$site-title-font-weight: 300;
$site-title-line-height: .8;


// Colors

$site-header-color: #cdc9dd;
$site-title-color: #fff;
$site-title-color-small: #000;


// Z-indexes

$z-site-title: 60;


// Misc

$site-header-width: 46%;




/*
  Layout
  ========================================================================== */

// Colors

$body-font-color: #000;




// Misc

$volume-title-indent-small: em(60);





/*
  Featured
  ========================================================================== */

// Colors

$featured-title-color: #fdcd84;
$featured-subtitle-color: #cbb8a0;



// Z-indexes

$z-featured-body: 10;




/*
  Barbie
  ========================================================================== */

// Colors

$barbie-title-color: #5f5d66;
$barbie-body-color: #6e6c77;



// Z-indexes

$z-barbie: 80;
$z-barbie-back: 5;
$z-barbie-front: 2;
$z-barbie-front-closed: 7;




/*
  Boots
  ========================================================================== */

// Colors

$boots-title-color: #24795a;
$boots-body-color: #464646;


// Z-indexes

$z-boots-img: 10;


/*
  Bullets
  ========================================================================== */

// Colors

$bullets-border-color: #e5e5e5;
$bullets-text-color: #e0e0e0;




/*
  Beatles
  ========================================================================== */

// Colors

$beatles-heading-color: #524741;
$beatles-color: #71625a;


// Misc

$beatles-heads-width: 178px;
$beatles-heads-height: 154px;




/*
  Bluray
  ========================================================================== */

// Typography

$bluray-title-font-size: 31; // for em()


// Colors

$bluray-primary-color: #3a83bb;
$bluray-secondary-color: rgba(255,255,255,.2);
$bluray-border-color: #234f70;


// Z-indexes

$z-bluray-premier-title: 2;


// Misc

$bluray-width: 226;




/*
  Overflow
  ========================================================================== */

// Misc

$overflow-water-height: 306px;