/*
  Layout
  ========================================================================== */

.page-wrap {
  // margin: 0 auto;
  // max-width: $max-width;
  //@include outer-container;
  margin: 0 auto;
  max-width: $max-width;
}

main {
  padding-top: 1.5em;
}

  .volume-title {
    float: left;
    margin-left: 25%;
    text-transform: uppercase;
    font: {
      family: $extra2-font-family;
      size: .75em;
      style: italic;
    };
    color: #b0aeb8;
  }



@include media($bp-m){
  main {
    padding-top: 8.5em;
  }
}


// body {
//   font-size: .7em;
// }

// @include media($bp-s){
//   body {
//     font-size: .8em;
//   }
// }

// @include media($bp-l) {
//   body {
//     font-size: 1em;
//   }
// }

// @include media($bp-l) {
//   body {
//     font-size:
//   }
// }

// @include media($bp-xl) {
//   body {
//     font-size: $site-header-font-size;
//   }
// }