/*
  Layout
  ========================================================================== */

.page-wrap {
  // margin: 0 auto;
  // max-width: $max-width;
  //@include outer-container;
  margin: 0 auto;
  max-width: $max-width;
}

main {
  padding-top: 1.5em;
}

  .volume-title {
    //float: right;
    // margin-top: -4.1em;
    margin-right: 3em;
    text-align: right;
    text-transform: uppercase;
    font: {
      family: $extra2-font-family;
      size: .75em;
      style: italic;
    };
    color: #fff;
  }



@media #{$bp-s} {
  main {
    padding-top: 7.5em;
  }

    .volume-title {
      //float: left;
      //margin-left: 25%;
      color: #b0aeb8;
    }
}

@media #{$bp-m} {
  main {
    padding-top: 6.5em;
  }
}

// body {
//   font-size: .7em;
// }

// @media #{$bp-s){
//   body {
//     font-size: .8em;
//   }
// }

// @media #{$bp-l) {
//   body {
//     font-size: 1em;
//   }
// }

// @media #{$bp-l) {
//   body {
//     font-size:
//   }
// }

// @media #{$bp-xl) {
//   body {
//     font-size: $site-header-font-size;
//   }
// }