/*
  Layout
  ========================================================================== */

.page-wrap {
  margin: 0 auto;
  max-width: $max-width;
}

main {
  padding-top: 1.5em;
}

  .volume-title {
    @extend .lora;

    margin: -$volume-title-indent-small 0 $volume-title-indent-small;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
    font: {
      size: .75em;
      style: italic;
    };
    color: $site-title-color-small;
  }



@media #{$bp-s} {
  main {
    padding-top: 8em;
  }
    .volume-title {
      margin: 0 0 0 60%;
      max-width: 45em; // forbids to be positioned too far right on large screens
      color: #b0aeb8;
    }
}